/*************************
		Global
*************************/

* {
 font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 900;
}

body {
  background-image: url('../img/giftly.png');
}

table tr td, table th {
  background-color: white;
}

/*************************
		Index page
*************************/

.navbar {
  margin-top: 20px;
}

.navbar-brand {
  text-transform: uppercase;
}

/*************************
		partials
*************************/

.title {
  background-color: rgb(218, 218, 218);
  padding: 20px;
  border-radius: 10px;
}

.space {
  margin-top: 20px;
}

label {
  background-color: rgb(218, 218, 218);
  padding: 5px 10px;
  border-radius: 5px;
}

/*************************
		unorganized
*************************/

.delete-btn button {
  display: block;
  margin: 0 auto !important;
}

i {
  margin-right: 10px;
  font-size: 50px;
}

.col-md-8 {
  margin-top: -10px;
}

table td {
  vertical-align: middle !important;
}
