/*************************
		Global
*************************/

* {
 font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 900;
}

/*************************
		Index page
*************************/

.navbar {
  margin-top: 20px;
}

.navbar-brand {
  text-transform: uppercase;
}

/*************************
		partials
*************************/

.title {
  background-color: rgba(199, 199, 199, 0.25);
  padding: 20px;
  border-radius: 10px;
}

.space {
  margin-top: 20px;
}

/*************************
		unorganized
*************************/

.delete-btn button {
  display: block;
  margin: 0 auto !important;
}

i {
  margin-right: 10px;
  font-size: 50px;
}

.col-md-8 {
  margin-top: -10px;
}

table td {
  vertical-align: middle !important;
}
